{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Hello {{user.first_name}}!
{% endblock title %}
{% block style %}
<link rel="stylesheet" href={% static 'css/dashboard.css' %}>
{% endblock  %}
{% block content %}
<div class="contentbox">
    <div id="head">
        Hello {{user.first_name.capitalize}}!
    </div>
    <div class="links">
       <a href="{% url "db_upload" %}" id="upload">Your Uploads</a>
       <a href="{% url "db_bookmark" %}" id="bookmark">Bookmarks</a>
       <a href="backend" id="inquired">Inquired Properties</a>
    </div>
</div>
{% comment %} 
 {% endcomment %}
{% comment %} {% include 'partials/footer.html' %} {% endcomment %}
{% endblock content %}
