<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/inquired.css">
    <title>Inquired Properties</title>
</head>
<body>
    
    <div class="container">
        
            <div class="box" id="box1">
                <img src="2.1549626988.5855.jpg" alt="error in loading image">    
                <div id="price">
                    <h3>Rs.22,000/mo</h3>
                    
                </div>
                <div class="location">
                    <h3>1BHK flat</h3>
                    <p>miyapur,Hyderabad , india - 500049</p>
                </div>
              <a href="backend">
                  <button class="bt">
                      view details
                  </button>
              </a>
            </div>
            <div class="box" id="box2">
                <img src="h2.jpg" alt="error in loading image"> 
                <div id="price">
                    <h3>Rs.28,000/mo</h3>
                    
                </div>
                <div class="location">
                    <h3>2BHK flat</h3>
                    <p>saket, delhi, india - 400104</p>
                </div>
              <a href="backend">
                <button class="bt">
                    view details
                </button>
            </a>
            </div>
            <div class="box" id="box3">
                <img src="h3.jpg" alt="error in loading image">
                <div id="price">
                    <h3>Rs.30,000/mo</h3>
                    
                </div>
                <div class="location">
                    <h3>2BHK flat</h3>
                    <p>vimal nagar, Pune, india - 411014</p>
                </div>
             
              <a href="backend">
                <button class="bt">
                    view details
                </button>
            </a>
            </div>
            <div class="box" id="box4">
                <img src="h4.jpg" alt="error in loading image">
                
                <div id="price">
                    <h3>Rs.37,000/mo</h3>
                    
                </div>
                <div class="location">
                    <h3>3BHK flat</h3>
                    <p>sector 50,noida, india -201301 </p>
                </div>
              <a href="backend">
                <button class="bt">
                    view details
                </button>
            </a>
            </div>           
            <div class="box" id="box5">
                <img class="new" src="pexels-stillworks-imagery-176860.jpg" alt="error in loading image">    
                <div id="price">
                    <h3>Rs.22,000/mo</h3>
                    
                </div>
                <div class="location">
                    <h3>1BHK flat</h3>
                    <p>miyapur,Hyderabad , india - 500049</p>
                </div>
              <a href="backend">
                  <button class="bt">
                      view details
                  </button>
              </a>
            </div>
    </div>
</body>
</html>