{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock title %}

{% block style %}
<link rel="stylesheet" href={% static 'css/login.css' %}>
{% endblock style %}

{% block content %}
    
    
    <section>
        <div class="imgBox">
           <img src={% static 'img/login.jpg' %} alt="loginimg">
        </div>
        <div class="contentBox">
           <div class="formBox">
               <h2>Login</h2>
               {% include 'partials/alerts.html' %}
               <form action="login" method="POST">
                {% csrf_token %}
                    <div class="inputBox">
                        <span>Username</span>
                        <input type="text" name="username" required>
                    </div>
                    <div class="inputBox">
                        <span>Password</span>
                        <input type="password" name="password" required>
                    </div>
                    
                    <div class="inputBox">
                        <input type="submit" value="Sign in" name="Sign in">
                    </div>
                    <div class="inputBox">
                        <p>
                            Don't have an account? <a href="{% url 'register' %}">Sign up</a>
                        </p>
                    </div>
               </form>
               {% comment %} <h3>Login with social media</h3> {% endcomment %}
               <ul class="sci">
                   <!-- <li><img src="linkedinlogo.png"></li> -->
                   <!-- <li><img src="twitterlogo.jpg"></li> -->
                   <!-- <li><img src="instagram.jpg"></li> -->
               </ul>
           </div>
        </div>
    </section>
    {% include 'partials/footer.html'%}
{% endblock %}