{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block style %}
<link rel="stylesheet" href={% static 'css/homepage.css' %}>
{% endblock  %}
{% block title %}House Hunt{% endblock title %}
{% block content %}
<section class="home" id="home">       
    <form action="{% url 'search' %}">
            <p>
                Your Dream Home Awaits!!
            </p>
        
        <p>Find your perfect home</p>
        
        <!-- <form action="{% url 'homepage' %}">
            <div class="buttons-container"></div>
            <button name="type" type="submit" value="RENT"></button>
            <button name="type" type="submit" value="BUY"></button>
        </div>

        </form> -->
        <div class="buttons-container">
            <div class="btn">
                <input type="radio" name="type" id="type1" value="2" checked="checked">
                <label for="type">RENT</label>
            </div>
            <div class="btn">
                <input type="radio" name="type" id="type2" value="1">
                <label for="type" >BUY</label>
            </div>
            
            <!-- <a href="#" class="btn">RENT</a>
            <a href="#" class="btn">BUY</a> -->
        </div> 
        
        <div class="inputBox">
            <input type="text" name="locality" placeholder="Type address,locality,area" id="locality">   
            <select name="city" id="city">
                <option value="" disabled hidden selected>--select--</option>
                <option value="mumbai">Mumbai</option>
                <option value="jaipur">Jaipur</option>
                <option value="pune">Pune</option>
                <option value="delhi">Delhi</option>
                <option value="lucknow">Lucknow</option>
                <option value="prayagraj">Prayagraj</option>
            </select>
        </div>

        <input type="submit" value="search property" class="btn" id="btn3">
     <div class="ask">
         Do you want to sell/rent a property?
         <a href={% url 'upload' %}>Upload Here!</a>
     </div>
    </form>
    
</section>

{% comment %} <section class="services-container">

    <div  id="services"> {% endcomment %}
        <div class="serve">
            <div id="heading">
                Recent Uploads
            </div>    
            <section class="container">
                {% for lp in latest_properties %}
                <div class="box" id="box">
                    <img src="{{lp.photo_main.url}}" alt="error in loading image">    
                    <div id="price">
                        {% if lp.type == "1" %}
                            <h3>Rs.{{lp.price | intcomma}}</h3>
                        {% else %}
                            <h3>Rs.{{lp.price | intcomma}} / mo</h3>
                        {% endif %}
                        
                    </div>
                    <div class="location">
                        <h3>{{lp.bathroom}}BHK flat</h3>
                        <p>{{lp.address}},{{ lp.get_state_display }},-{{lp.zipcode}}</p>
                    </div>
                    <a href="{% url 'property' lp.id %}">
                        <button class="bt">View</button>
                    </a>
                </div>                        
                {% endfor %}
        
            </section>
        </div>
{% include 'partials/footer.html' %}
{% endblock content %}

