{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block style %}
<link rel="stylesheet" href={% static 'css/property.css' %}>
{% endblock  %}
{% block title %}{{property.title}}{% endblock title %}
{% block content %}

    <div>

                <div class="property details">
                    <section class="featured" id="featured">

                    
                    
                        <div class="box-container">
                    
                            <div class="box">
                                <div class="location">
                                    <h3>{{property.title}}</h3>
                                    <p>{{property.address}},{{property.city}}, {{property.get_state_display}} , {{property.zipcode}}</p>
                                </div>
                                <div class="image-container">
                                    <img src={{property.photo_main.url}} alt="" class="expand">
                                    <div class="info">
                                        <h3>3 days ago</h3>
                                        <h3>for rent</h3>
                                    </div>
                                    <div class="icons">
                                        <a href="{{property.photo_2.url}}" class="fas fa-film"><h3>1</h3></a>
                                        <a href="{{property.photo_3.url}}" class="fas fa-camera"><h3>2</h3></a>
                                        <a href="{{property.photo_4.url}}" class="fas fa-film"><h3>3</h3></a>
                                        <a href="{{property.photo_1.url}}" class="fas fa-camera"><h3>4</h3></a>
                                    </div> 
                                </div>
                                <div class="content">
                                    <div class="price">
                                        {% if property.type == "1" %}
                                            <h3>Rs.{{property.price | intcomma}}</h3>
                                        {% else %}
                                            <h3>Rs.{{property.price | intcomma}} / mo</h3>
                                        {% endif %}
                                        {% comment %} <a href="#" class="fas fa-heart"></a>
                                        <a href="#" class="fas fa-envelope"></a>
                                        <a href="#" class="fas fa-phone"></a> {% endcomment %}
                                    </div>
                                
                                    <div class="details">

                                        <h3> <i class="fas fa-expand"></i> {{property.lot_size}} sqft </h3>
                                        <h3> <i class="fas fa-bed"></i> {{property.bathroom}} beds </h3>
                                        <h3> <i class="fas fa-bath"></i> {{property.bathroom}} baths </h3>
                                        <h3><i class="fas fa-price"></i>{{property.description}}</h3>
                                        <h3><i class="fas-fa-price"></i>{{property.get_furnishing_display}}</h3>

                                    </div>
                                    <div class="details">
                                        <h3> <i class="fas fa-expand"></i>for {{property.get_type_display}}</h3>
                                        <h3> <i class="fas fa-bed"></i> </h3>
                                        <h3> <i class="fas fa-bath"></i> {{property.get_availibility_display}}</h3>
                                        <h3><i class="fas fa-price"></i>{{property.uid.email}}</h3>
                                        <h3><i class="fas-fa-price"></i></h3>

                                    </div>
                                    <div class="buttons">
                                        <a href="" class="btn">Contact Owner</a>
                                        <form action="{% url "bookmark" %}" method="POST">
                                            {% csrf_token %}
                                              <input type="hidden" value="{{property.id}}" name="property_id">
                                            <button class="btn">
                                                {% if is_bookmarked %}
                                                UnBookmark
                                                {% else %}
                                                Bookmark
                                                {% endif %}
                                        
                                            </button>
                                          </form>
                                    </div>
                                </div>

                                    <div class="contact-box">
                                        <h1>Contact Owner</h1>

                                        {% include 'partials/alerts.html' %}
                                        <form action="{% url 'contact' %}" method="POST">
                                            {% csrf_token %}
                                             {% if user.is_authenticated %}
                                              <input type="hidden" name="user_id" value="{{ user.id }}">
                                            {% else %}
                                              <input type="hidden" name="user_id" value="0">
                                            {% endif %} 
                                             <input type="hidden" name="owner_email" value="{{ property.uid.email }}"> 
                                             <input type="hidden" name="property_id" value="{{ property.id }}"> 
                                             <input type="hidden" name="property" value="{{ property}}"> 
                                    
                                            <input type="text" class="input-field" placeholder="Your Name" name="name"
                                            {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} 
                                            required>
                                    
                                            <input type="email" name="email"class="input-field" placeholder="Your Email" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
                                    
                                            <input type="text" name="phone" class="input-field" placeholder="phone">
                                    
                                            <input type="text" name="message" class="input-field" placeholder="Your message">
                                    
                                            <button class="btn">Send</button>
                                    
                                            </form>
                                    
                                     </div>
                                </div>
                    
                    </section>
                </div>
    </div>

{% comment %} {% include 'partials/footer.html' %}  {% endcomment %}
{% endblock content %}
