{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/property_list.css' %}>
    <title>Property</title>
</head>
<body>
    {% include 'partials/navbar.html' %}
    <div class="row">
        <div class="column left">
            <section class="home" id="home">
                <form action="{% url 'search' %}">
                    <h3>Filters</h3>
                    {% comment %} <div class="buttons-container">
                        <a href="#" class="btn">for rent</a>
                        <a href="#" class="btn">for sale</a>
                    </div> {% endcomment %}
                    <div class="buttons-container">
                        <input type="radio" name="type" id="type1" value="2" 
                        {% if  entries.type == "2" %}
                                checked="true"
                        {% endif %}>
                        <label for="type">RENT</label>
                        <input type="radio" name="type" id="type2" value="1"
                        {% if  entries.type == "1" %}
                                checked="true"
                        {% endif %}>
                        <label for="type" >BUY</label>
                    </div>
                    
                        
                    <div class="inputBox">
                        {% comment %} <input type="search" name="" placeholder="neighborhood" id="">
                        <input type="search" name="" placeholder="city" id=""> {% endcomment %}
                        <input type="text" name="locality" placeholder="Locality" id="locality" value="{{entries.locality}}" >   
                        <select name="city" id="city" >
                            <option value="" disabled hidden selected>city</option>
                            <option value="mumbai"
                            {% if  "mumbai" == entries.city %}
                                selected
                            {% endif %}>Mumbai</option>
                            <option value="jaipur"
                            {% if  "jaipur" == entries.city %}
                                selected
                            {% endif %}>Jaipur</option>
                            <option value="pune"
                            {% if  "pune" == entries.city %}
                                selected
                            {% endif %}>Pune</option>
                            <option value="delhi"
                            {% if  "delhi" == entries.city %}
                                selected
                            {% endif %}>Delhi</option>
                            <option value="lucknow"
                            {% if  "lucknow" == entries.city %}
                                selected
                            {% endif %}>Lucknow</option>
                            <option value="prayagraj"
                            {% if  "prayagraj" == entries.city %}
                                selected
                            {% endif %}>Prayagraj</option>
                        </select>
                        <select name="min_price" id="">
                            <option value="" disabled hidden selected>minimum price</option>
                            <option value="5000"
                            {% if  "5000" == entries.min_price %}
                                selected
                            {% endif %}>Rs.5000</option>
                            <option value="10000"
                            {% if  "10000" == entries.min_price %}
                                selected
                            {% endif %}>Rs 10000</option>
                            <option value="15000"
                            {% if  "15000" == entries.min_price %}
                                selected
                            {% endif %}>Rs 15000</option>
                            <option value="20000"
                            {% if  "20000" == entries.min_price %}
                                selected
                            {% endif %}>Rs 20000</option>
                            <option value="25000"
                            {% if  "25000" == entries.min_price %}
                                selected
                            {% endif %}>Rs 25000</option>
                            
                            {% comment %} <option value="5000">Rs.5000</option>
                            <option value="10000">Rs.10000</option>
                            <option value="15000">Rs.15000</option>
                            <option value="20000">Rs.20000</option>
                            <option value="25000">Rs.25000</option> {% endcomment %}
                        </select>
                        <select name="max_price" id="">
                            <option value="" disabled hidden selected>maximum price</option>
                            <option value=10000>Rs.10,000</option>
                            <option value=20000>Rs.20,000</option>
                            <option value=50000>Rs.50,000</option>
                            <option value=100000>Rs.1,00,000</option>
                            <option value=200000>Rs.2,00,000</option>
                            <option value=400000>Rs.4,00,000</option>
                            <option value=450000>Rs.5,00,000</option>
                            <option value=600000>Rs.6,00,000</option>
                        </select>
                        <select name="available" id="">
                            <option value="" disabled hidden selected>availabilty</option>
                            <option value=1>Ready To Move</option>
                            <option value=2>In 15 days</option>
                            <option value=3>In a month</option>
                        </select>
                        <select name="furnishing" id="">
                            <option value="" disabled hidden selected>furnishing status</option>
                            <option value=1>fully furnished</option>
                            <option value=2>semi-furnished</option>
                            <option value=3>unfurnished</option>
                        </select>
                        {% comment %} <select name="" id="">
                            <option value="" disabled hidden selected>BHK</option>
                            <option value="1 RK">1 RK</option>
                            <option value="1 BHK">1 BHK</option>
                            <option value="2 BHK">2 BHK</option>
                            <option value="3 BHK">3 BHK</option>
                            <option value="4 BHK">4 BHK</option>
                            <option value="5 BHK">5 BHK</option>
                            <option value="Villa">Villa</option>
                        </select> {% endcomment %}
                        {% comment %} <select name="" id="">
                            <option value="" disabled hidden selected>aminities</option>
                            <option value="parking space">parking space</option>
                            <option value="swimming pool">swimming pool</option>
                            <option value="playground">playground</option>
                            <option value="security">security</option>
                            <option value="all">all</option>
                        </select> {% endcomment %}
                        {% comment %} <select name="apartment" id="">
                            <option value="" disabled hidden selected>BHKs</option>
                            <option value=1>1 bedroom</option>
                            <option value=2>2 bedroom</option>
                            <option value=3>3 bedroom</option>
                            <option value=4>4 bedroom</option>
                            <option value=5>5 bedroom</option>
                            <option value=6>>5 bedroom</option>
                        </select> {% endcomment %}
                        <select name="bathroom" id="">
                            <option value="" disabled hidden selected>bathrooms</option>
                            <option value=1>1 bathroom</option>
                            <option value=2>2 bathroom</option>
                            <option value=3>3 bathroom</option>
                            <option value=4>4 bathroom</option>
                            <option value=5>5 bathroom</option>
                            <option value=6>6 bathroom</option>
                            <option value=7>7 bathroom</option>
                            <option value=8>8 bathroom</option>
                            <option value=9>9 bathroom</option>
                            <option value=10>10 bathroom</option>
                        </select>
                    </div>
                    <input type="submit" value="search property" class="btn">
                </form>
            </section>
    {% comment %} {% include 'properties/properties_list.html' %} {% endcomment %}
</div>
<div class="column right">
    <section class="featured" id="featured">
        <h1 class="heading"> <span>featured</span> properties </h1> 
            <div class="box-container">
            {% if properties %}
                {% for property in properties %}
                            <div class="box">
                                <div class="image-container">
                                    <img src="{{property.photo_main.url}}" alt="{{property.title}}" class="expand">
                                    <div class="info">
                                        <h3>{{property.list_date | timesince}}</h3>
                                        <h3>for {{property.get_type_display}}</h3>
                                    </div>
                                    {% comment %} <div class="icons">
                                        <a href="#" class="fas fa-film"><h3>1ads</h3></a>
                                        <a href="#" class="fas fa-camera"><h3>4</h3></a>
                                    </div> {% endcomment %}
                                </div>
                                <div class="content">
                                    <div class="price">
                                        {% if property.type == "1" %}
                                        <h3>Rs.{{property.price | intcomma}}</h3>
                                        {% else %}
                                        <h3>Rs.{{property.price | intcomma}}/mo</h3>
                                        {% endif %}
                                        
                                        {% comment %} <a href="#" class="fas fa-heart"> <img src="{{property.photo_main.url}}" alt="{{property.title}}" class="expand"></a>
                                        <a href="#" class="fas fa-envelope"></a>
                                        <a href="#" class="fas fa-phone"></a> {% endcomment %}
                                    </div>
                                    <div class="location">
                                        <h3>{{property.address}}</h3>
                                        <p>{{property.city}}, {{property.get_state_display}} , {{property.zipcode}}</p>
                                    </div>
                                    <div class="details">
                                        <h3> <i class="fas fa-expand"></i> {{property.lot_size}} sqft </h3>
                                        <h3> <i class="fas fa-bed"></i> {{property.get_apartment_display}} beds </h3>
                                        <h3> <i class="fas fa-bath"></i> {{property.bathroom}} baths </h3>
                                    </div>
                                    <div class="buttons">
                                        <a href="#" class="btn">request info</a>
                                        <a href="{% url 'property' property.id %}" class="btn">view details</a>
                                    </div>
                                </div>
                            </div>
                {% endfor %}
            {% else %}
            <li><h2 class="heading">No Property Found!</h2></li>
            {% endif %}
            </div>
    </section>
</div>
</body>
</html>