*
{
    margin:0;
    padding:0%;
}
body
{

background-color: #efefef;

font-family: sans-serif;
}
nav{
    /* background: #55cec8; */
    background: #379683;
    height: 80px;
    width: 100%;
    box-shadow: 0 .2rem 1rem #05386B;
  }
  #logo{
     padding: 3px 10px; 
    margin-left: 30px;
    margin-top: 15px;
    display: inline-block;
  } 
  
  label{
    color: #05386B;
    font-size: 35px;
   
    line-height: 80px;
    font-family:  sans-serif;
    font-weight: bold;
  }

/* 
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  nav ul li a:hover{
    background-color: #05386B;
  }
 */
 nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  nav ul li a:hover{
    background-color: #05386B;
  }
.contact-box
 {
width: 500px;
background-color: #fff; 
box-shadow: 0 0 20px 0 #999;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) ; 
position: absolute
}

form
{
margin: 35px;

}
.contact-box .form .h1
{
    color:#05386B;
    font-family: sans-serif;
}
.input-field
{
width: 400px;
height: 40px;
margin-top: 20px; padding-left: 10px;
padding-right: 10px;
border: 1px solid #777;
border-radius: 14px;
outline: none;
}

.textarea-field{
height:150px;
padding-top:10px;
}

.btn
 {
border-radius: 20px;
font-family: sans-serif;
color:#fff;
margin-top: 18px;
padding:10px;
padding-left:20px;
padding-right: 20px;
background: #379683;
font-size:12px;
border:none;
cursor:pointer;
transform:all-scroll;
 }